<%- include("partials/header") -%>
<h1>Contact</h1>

<div class="contact-social">
    <a href="mailto:ranarajput9548@gmail.com"><img class="img1" alt="Gmail" src="css/images/gmail_icon.png" /></a> 

    <a href="https://www.linkedin.com/in/aditya-rana-677aa81ba/"><img class="img2" src="css/images/LinkedIn-Logos/LI-In-Bug.png" alt=""></a>

    <a href="https://github.com/ar7aditya"><img class="img3" src="css/images/GitHub-Mark/PNG/GitHub-Mark-120px-plus.png" alt=""></a>

    <a href="https://www.hackerrank.com/ranarajput9548"><img class="img4" src="css/images/icons8-hackerrank.svg" alt=""></a>


</div>

<%- include("partials/footer") -%>