<%- include("partials/header") -%>
<h1>Contact</h1>

<div class="contact-social">
    <a href="mailto:ranarajput9548@gmail.com"><img class="img1" alt="Gmail" src="css/images/gmail_icon.png" /></a> 

    <a href="https://www.linkedin.com/in/aditya-rana-677aa81ba/"><img class="img2" src="css/images/LinkedIn-Logos/LI-In-Bug.png" alt=""></a>

    <a href="https://github.com/ar7aditya"><img class="img3" src="css/images/GitHub-Mark/PNG/GitHub-Mark-120px-plus.png" alt=""></a>

    <a href="https://www.hackerrank.com/ranarajput9548"><img class="img4" src="css/images/icons8-hackerrank.svg" alt=""></a>
</div>
<div class="contact-container">
<div class="intro">
<h2>Aditya rana , 20</h2>
<h4>Student at <a href="https://jaipur.manipal.edu/">MUJ</a></h4>
<h4>aditya.209302339@muj.manipal.edu</h4>
<h4>+91-99******9999</h4>
<br>
<h4><a href="https://en.wikipedia.org/wiki/Khatauli"> Khatauli</a>(251201), Muzaffarnagar ,U.P.</h4>
</div>
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d870.1167602763298!2d77.72959608591383!3d29.268613425668846!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1630759346981!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
</div>


<%- include("partials/footer") -%>