    <!-- CSS only -->
    <link rel="stylesheet" href="public/css/style.css">

<%- include("partials/header") -%>

            <h1> <%= title %></h1> 
            <p> <%= content %> </p>
        
            
 <%- include("partials/footer") -%>            