<%- include("partials/header") -%>
    <h1>Projects</h1>
    <br>
    <br>


    <div class="container-box">
        <div class="inner-container">
            <h3>Some of my work</h3>
            <div>
                <h1>SERVICES PROVIDE FOR YOU</h1>
                <p>
                    If you like any of my work and have any collabrative idea then go ahead , you are welcome to contact me
                </p>
            </div>
            <div class="slides-container">
                <div class="slides">
                    <div class="card">
                        <img alt="fyle" src="css/images/project1.jpeg" />
                        <div class="card-overlay">
                            <div>
                                <input class="git-logo" type="button" value="CODE"
                                onclick="window.open('https://github.com/ar7aditya/Daily-Journal', '_blank');" />
                                <input type="button" value="LAUNCH"
                                onclick="window.open('https://bit.ly/3zlgBE7', '_blank');" />
                            </div>
                            
                            <h3>WEB DEVELOPMENT</h3>
                            <p>
                                Morbi sed lacus nec risus finibus feugiat et fermentum nibh. Pellentesque
                            </p>
                            <input type="button" value="READ MORE"
                                onclick="window.open('project/readmore1', '_blank');" />
                        </div>
                    </div>

                    <div class="card">
                        <img alt="fyle" src="css/images/p1.png" />
                        <div class="card-overlay">
                            <div>
                                <input class="git-logo" type="button" value="CODE"
                                onclick="window.open('https://github.com/ar7aditya/Daily-Journal', '_blank');" />

                                <input type="button" value="LAUNCH"
                                onclick="window.open('https://bit.ly/2Yqyunl', '_blank');" />

                            </div>
                            <h3>WEB DEVELOPMENT</h3>
                            <p>
                                Morbi sed lacus nec risus finibus feugiat et fermentum nibh. Pellentesque
                            </p>
                            <input type="button" value="READ MORE"
                                onclick="window.open('project/readmore1', '_blank');" />
                        </div>
                    </div>

                    <div class="card">
                        <img alt="fyle" src="css/images/chat1.jpeg" />
                        <div class="card-overlay">
                            <div>
                                <input class="git-logo" type="button" value="CODE"
                                onclick="window.open('project/readmore1', '_blank');" />
                                <input type="button" value="LAUNCH"
                                onclick="window.open('https://bit.ly/3zlgBE7', '_blank');" />
                            </div>
                            <h3>WEB DEVELOPMENT</h3>
                            <p>
                                Morbi sed lacus nec risus finibus feugiat et fermentum nibh. Pellentesque
                            </p>
                            <input type="button" value="READ MORE"
                                onclick="window.open('project/readmore1', '_blank');" />
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
    
    <!-- <img class="bg-gif" src="css/images/1.gif" alt=""> -->



                    <%- include("partials/footer") -%>