<%- include("partials/header") -%>

    <h1>AR7Fitness</h1>
    <div class="readmore">

        <img src="/css/images/ar7fitness.png">

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime excepturi consequuntur, rerum harum
            repellendus veritatis vel autem exercitationem quis ea sint assumenda, in tempore reprehenderit nihil sit
            enim aliquid laborum!</p>

    </div>

    <%- include("partials/footer") -%>