<%- include("partials/header") -%>
<h1 class="title-heading">Skill</h1>

<div class="about-container">
    <h2 class="about-heading">Languages</h2>
    <div class="heading-box">
        <h4>C++</h4>
        <h4>Java</h4>
        <h4>C</h4>
        <h4>JavaScript</h4>
        <h4>Express</h4>
        <h4>Node</h4>
        <h4>Python basics</h4>
        <h4>HTML5</h4>
        <h4>CSS3</h4>    
    </div>
    <hr>

    <h2 class="about-heading">Tools</h2>
    <div class="heading-box">
        <h4>Shell - Terminal</h4>
        <h4>Git</h4>
        <h4>Socket.io</h4>
           
    </div>
    <hr>

    <h2 class="about-heading">Soft Skills</h2>
    <div class="heading-box">
        <h4>Customer service </h4>
        <h4>Written communication</h4>
        <h4>Project management</h4>
    </div>
<hr>
</div>

<%- include("partials/footer") -%>