.sub-heading-box .intro{
    padding-right: 0px;
}

.contact-container{
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 550px 500px; */
    margin-top: 40px;
    margin-left: 40px;  
    
}