   /* header.ejs file -----------------------------------------------------------------------------------------*/
.navbar{
    background-color:rgb(243, 243, 243) ;
    box-shadow: 5px 7px 8px rgb(205, 204, 207);
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    letter-spacing: 5px;
    
}

     /* home.ejs file  --------------------------------------------------------------------------------------- */
      .button {
          background-color: rgb(97, 97, 218);
          text-decoration: none;
        color: white;
        width: 80px;
        height: 35px;
        border-radius: 7px;
        border-style: none;
        
    }
    .button a{
        text-decoration: none;
        color: white;
   
  }
    h1{
        font-family: 'Russo One', sans-serif;
    }
    .title-heading{
        margin-bottom: 50px;
    }



    /* about  -----------------------------------------------------------------------------------------*/

    .about-container{
        margin-top: 60px;
    }
    .about-heading{
        font-family: 'IBM Plex Sans Arabic', sans-serif;
    }
    .heading-box{
        margin-left: 40px;
        margin-bottom: 40px;
    }
    .heading-box h5 {
        margin-left: 20px;
        justify-content: center;
    }
    .heading-box h5 a{
        margin-left: 20px;
    }
    .heading-box h5 span{
        position: relative;
        margin-right: 0px;
    }
    .heading-box a{
        cursor: pointer;
        text-decoration: none;
    }
    hr{
        border: 1px solid #000000;
    }


    /* contact  -----------------------------------------------------------------------------------------*/
    .contact-social{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        height: 150px;
    }
    .contact-social a{
        display: flex;
        justify-content: center;
        margin-right: 70px;
        margin-bottom: 60px;
    }
    .contact-social .img1{
        height: 80px;
        width: 80px;
    }
    .contact-social .img2{
        margin-top: 5px;
        height: 70px;
        width: 90px;
    }
    .contact-social .img3{
        margin-top: 5px;
        height: 80px;
        width: 80px;
    }
    .contact-social .img4{
        height: 100px;
        width: 100px;
    }

    .contact-container{
        display: grid;
        grid-template-columns: 550px 500px;
        margin-top: 40px;
        margin-left: 40px;  
        
    }
    .intro a{
        /* cursor: pointer; */
        text-decoration: none;
    }

    .map{
        /* border: 2px solid black; */
        border-radius: 15px;
        overflow: hidden;
        /* box-shadow:2px 1px 34px -1px  rgba(36, 34, 34); */
        box-shadow: 5px 7px 8px rgb(70, 67, 67);
        
    }



    /* project  -----------------------------------------------------------------------------------------*/
    
    .container-box{
        display: grid;
        padding: 70px 0;
        place-items: center;
        background: white;
    }
    .container-box h3{
        text-align: left;
        font-size: 16px;
        margin-top: 0;
        font-family: "Cormorant SC", sans-serif;
        font-weight: normal;
        letter-spacing: 0;
        color: #FF3147;
        text-transform: uppercase;
    }
    
    .container-box h1{
        text-align: left;
        margin-top: 0;
        font-family: "Cormorant SC", sans-serif;
        letter-spacing: 1px;
        font-size: 30px;
        text-transform: uppercase;
        line-height: 40px;
    }
    
    .container-box p{
        text-align: left;
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        font-weight: normal;
        line-height: 22px;
        margin: 10px 40px;
        line-height: 20px;
    }
    

    .inner-container{
        position: relative;
        width: 1000px;
    }
    
    .inner-container div{
        display: grid;
        grid-template-columns: 350px 525px;
    }
    
    /* .inner-container p{
        margin: 10px 40px;
        line-height: 20px;
    } */
    
    .inner-container .slides-container{
        display: grid;
        overflow: hidden;
        grid-gap: 25px;
        height: 400px;
    }
    
    .inner-container .slides-container .slides{
        display: grid;
        grid-template-columns: repeat(20, auto);
        grid-gap: 20px;
        transition: all 1s ease-in-out;
    }
    
    .inner-container .card{
        display: grid;
        grid-template-columns: auto;
    }
    
    .inner-container .card img{
        width: 280px;
        height: 400px;
    }
    
    .inner-container .card-overlay {
        display: flex;
        position: relative;
        top: -220px;
        left: 84px;
        align-items: center;
        padding: 7px 0;
        justify-content: center;
        flex-direction: column;
        border-radius: 150px 0 0 0;
        background-color: #FF3147;
        transform: scale(0.4);
        transition: .7s ease;
    }
    
    .inner-container .card-overlay div{
        display: flex;
        justify-content: center;
        height: 40px;
        width: 250px;
        margin-top: 80px;
        margin-bottom: 20px;
        gap: 20px;
    }
    .inner-container .card-overlay div .git-logo{
        background: #ffffff url("images/GitHub-Mark/PNG/GitHub-Mark-64px.png") 55px 5px no-repeat;
        background-size: 30px 30px;
        width: 100px;
    }
    .inner-container .card-overlay div .git-logo:hover{
        background: #FF3147 url("images/GitHub-Mark/PNG/GitHub-Mark-Light-64px.png") 55px 5px no-repeat;
        background-size: 30px 30px;
        color: #FFFFFF;
    }
    
    .inner-container .card-overlay div input{
        margin-top: 0;
        text-align: left;
        font-size: 11px;
        width: 120px;
        height: 40px;
        padding-left: 10px;
        border: none;
        border-radius: 2px;
        letter-spacing: 1px;
        color: #FF3147;
        background: white url("images/assets/arrow red.svg") 70px 15px no-repeat;
    }
    .inner-container .card-overlay div input:hover{
        background: #FF3147 url("images/assets/arrow white.svg") 70px 15px no-repeat;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
    }
    
    .inner-container .card-overlay h3{
        color: #FFFFFF;
        font-size: larger;
        font-weight: normal;
        margin: 0;
    }
    
    .inner-container .card-overlay p{
        color: #FFFFFF;
        text-align: center;
        font-size: 12px;
        padding: 20px 25px;
        margin: 0;
    }
    
    .inner-container .card-overlay input{
        margin: 30px 0 83px 0;
        text-align: left;
        font-size: 11px;
        width: 150px;
        height: 40px;
        padding-left: 20px;
        border: none;
        border-radius: 2px;
        letter-spacing: 1px;
        color: #FF3147;
        background: white url("images/assets/arrow red.svg") 100px 15px no-repeat;
    }
    
    .inner-container .card-overlay input:hover{
        background: #FF3147 url("images/assets/arrow white.svg") 100px 14px no-repeat;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
    }
    
    .inner-container .card:hover .card-overlay{
        border-radius: 5px;
        top: -400px;
        left: 0px;
        transform: scale(1);
    }

    /* readmore.ejs  -----------------------------------------------------------------------------------------*/
    .readmore{
        margin-top: 40px;
        display: grid;
        grid-template-columns: 500px 500px;
    }
    .readmore img{
        height: 300px;
        width: 500px;
    }
    .readmore p{
        padding-left: 30px;
    }

    

   

    /* skill  -----------------------------------------------------------------------------------------*/



    /* footer  -----------------------------------------------------------------------------------------*/
    .footer {
        display: flex;
        justify-content: center;
        position: relative;
        text-align: center;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: #1abc9c;
        margin-top: 50px;
    }
    
    .footer p {
        margin-top: 25px;
        font-size: 12px;
      color: #fff;
    }







    