<%- include("../partials/header") -%>

    <h1>AR7Fitness</h1>
    <div class="readmore">

        <img src="/css/images/ar7fitness.jpeg">
        <div>

        <p>My first project ever 😍.This project took so much of time almost 3 months,but all the HTML, CSS and JS basics comes from here to me.</p>
        <p><b>CODE WITH HARRY </b>is my Mentor for this project
        I have completed his Web Development Course</p>
        </div>
    </div>

    <%- include("../partials/footer") -%>