<%- include("../partials/header") -%>

    <h1>Portfolio</h1>
    <div class="readmore">

        <img src="/css/images/portfolio.jpeg">
        <div>

        <p></p>Know more about me by launching this site.</p>
        <p><b font-weight="bold" >Angela Yu</b> is my Mentor for this project
          I have completed her Web Development Course from Udemy</p>
        </div>
    </div>

    <%- include("../partials/footer") -%>